.video-container {
  position: relative; /* Contenedor relativo para posicionar los hijos */
  width: 100%; /* O el tamaño que necesites */
  height: 100%; /* O el tamaño que necesites */
  /* Para que no se desborde */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover; /* Cubre el contenedor sin distorsionar */
  z-index: -1; /* Envía el video al fondo */
  filter: brightness(60%);
}

.overlay-content {
  position: relative; /* Para que el PNG esté encima */
  z-index: 1; /* Asegura que el contenido esté sobre el video */
  text-align: center;
  color: white;
  /* Estilos para centrar el PNG y texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
