body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/finav-web.firebasestorage.app/o/assets%2FFONDO_LARGO.png?alt=media&token=cc34001b-ae26-48f6-9c6f-a68541e0ab41");
}
.img-desktop {
  display: block;
  width: 100%;
}

.img-mobile {
  display: none;
  width: 100%;
}

@media (max-width: 575px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    width: 100%;
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
